<h1>Meus Lotes Favoritos</h1>

<% if @favorites.empty? %>
  <p>Você ainda não tem lotes favoritos.</p>
<% else %>
  <div class="row">
    <% @favorites.each do |lot| %>
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Lote: <%= link_to(lot.code, auction_lot_path(lot.id)) %> </h3>
             <dl>
               <div> 
                <% if lot.expired? %>
  			          <p class="expired-message">Este lote perdeu a validade.</p>
			          <% end %> 
                </div>
                <dt><%= AuctionLot.human_attribute_name(:status) %></dt>
                <dd><%= I18n.translate(lot.status) %></dd>
                <dt>Inicia em:</dt>
              <dd><%= distance_of_time_in_words(Date.today, lot.start_date) %></dd>
            </dl>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to 'Voltar', root_path, class: 'btn btn-warning btn-bid' %>

