<h2><%= AuctionLot.model_name.human %> <%= @auction_lot.code %> - <% if user_signed_in? && current_user.admin? && current_user != @auction_lot.user %>
  <%= button_to 'Aprovar Lote', approve_auction_lot_path(@auction_lot), method: :patch %> 
<% end %></h2>



	<dl>
			<% if @auction_lot.auction_approval.present? %>
  		<dt><strong> Aprovado por: </strong></dt>
			<dd><%= @auction_lot.auction_approval.approved_by.description %></dd>
			<% end %>
    	<dt><strong>Usuário responsável pelo cadastro:</strong></dt>
    	<dd><%= @auction_lot.user.description %> </dd>
			<dt> <%= AuctionLot.human_attribute_name(:start_date)%></dt>
    	<dd><%= I18n.localize(@auction_lot.start_date) %>
			<dt> <%= AuctionLot.human_attribute_name(:limit_date)%></dt>
    	<dd><%= I18n.localize(@auction_lot.limit_date) %>
			<dt><%= AuctionLot.human_attribute_name(:value_min) %></dt>
  		<dd><%= @auction_lot.value_min %></dd>
  		<dt><%= AuctionLot.human_attribute_name(:diff_min) %></dt>
  		<dd><%= @auction_lot.diff_min %></dd>
			<dt> <%= AuctionLot.human_attribute_name(:status) %>:</dt>
    	<dd><%= I18n.translate(@auction_lot.status) %>
			<dt> Itens do Lote: </dt>
			<dd> 
					<% @items.each_pair do |pm, quantity| %>
					<%= quantity %> x <%= pm.name %> 
					<% item_product = @auction_lot.item_products.where(product_model: pm).first %>
					<%= button_to 'Remover Item', auction_lot_auction_item_item_product_path(@auction_lot, pm, item_product), method: :delete %>
					<br>
					<% end %>
			</dd>
	</dl>



<%= link_to 'Adicionar Item', new_auction_lot_auction_item_path(auction_lot_id: @auction_lot.id) %><br>

<% if user_signed_in? && current_user.admin? %>
<%= link_to('Editar', edit_auction_lot_path)%>
<%= button_to 'Remover', auction_lot_path, method: :delete %>
<% end %>


<%= link_to('Voltar', root_path)%>