<h2><%= AuctionLot.model_name.human %> <%= @auction_lot.code %> - <% if admin_signed_in? && current_user != @auction_lot.user && @auction_lot.status != 'approved' %>
  <%= button_to 'Aprovar Lote', approve_auction_lot_path(@auction_lot), method: :patch %> 
<% end %></h2>



	<dl>
			<% if @auction_lot.auction_approval.present? %>
  		<dt><strong> Aprovado por: </strong></dt>
			<dd><%= @auction_lot.auction_approval.approved_by.description %></dd>
			<% end %>
    	<dt><strong>Usuário responsável pelo cadastro:</strong></dt>
    	<dd><%= @auction_lot.user.description %> </dd>
			<dt> <%= AuctionLot.human_attribute_name(:start_date)%></dt>
    	<dd><%= I18n.localize(@auction_lot.start_date) %>
			<dt> <%= AuctionLot.human_attribute_name(:limit_date)%></dt>
    	<dd><%= I18n.localize(@auction_lot.limit_date) %>
			<dt><%= AuctionLot.human_attribute_name(:value_min) %></dt>
  		<dd><%= @auction_lot.value_min %></dd>
  		<dt><%= AuctionLot.human_attribute_name(:diff_min) %></dt>
  		<dd><%= @auction_lot.diff_min %></dd>
			<dt> <%= AuctionLot.human_attribute_name(:status) %>:</dt>
    	<dd><%= I18n.translate(@auction_lot.status) %></dd>
			<dt> Itens no lote:</dt>
    	<dd><% @items.each_pair do |pm, count| %>
      <%= pm.name %> - Quantidade: <%= count %><br>
  		<% end %></dd>
		</dl>
	<% if admin_signed_in? %>
		<%= form_with url: add_product_auction_lot_path(@auction_lot), method: :post do |f| %>
			<div>
				<%= f.label :product_id, 'Produto' %>
				<%= f.collection_select :product_id, Product.where(auction_lot_id: nil), :id, proc { |product| "#{product.product_model.name} - ID: #{product.id}" }, include_blank: true %>
			</div>
			<%= f.submit 'Adicionar Produto' %>
		<% end %>
		<% @auction_lot.products.each do |product| %>
			<div class="product">
				<%= "#{product.product_model.name} - ID: #{product.id}" %>
				<%= button_to 'Remover Produto', remove_product_auction_lot_path(@auction_lot, product_id: product.id), method: :delete %> 
			</div>
		<% end %>
				
		
	<% end %>

<br>
<br>

<% if admin_signed_in? %>
<%= link_to('Editar', edit_auction_lot_path)%>
<%= button_to 'Remover', auction_lot_path, method: :delete %>
<% end %>


<%= link_to('Voltar', root_path)%>