<h3><%= AuctionLot.model_name.human %> <%= @auction_lot.code %></h3>

	<dl>
    	<dt> <%= AuctionLot.human_attribute_name(:user_id) %> responsável por cadastro:</dt>
    	<dd><%= @auction_lot.user.admin_desc %> </dd>
			<dt> <%= AuctionLot.human_attribute_name(:start_date)%></dt>
    	<dd><%= I18n.localize(@auction_lot.start_date) %>
			<dt> <%= AuctionLot.human_attribute_name(:limit_date)%></dt>
    	<dd><%= I18n.localize(@auction_lot.limit_date) %>
			<dt><%= AuctionLot.human_attribute_name(:value_min) %></dt>
  		<dd><%= @auction_lot.value_min %></dd>
  		<dt><%= AuctionLot.human_attribute_name(:diff_min) %></dt>
  		<dd><%= @auction_lot.diff_min %></dd>
			<dt> <%= AuctionLot.human_attribute_name(:status) %>:</dt>
    	<dd><%= I18n.translate(@auction_lot.status) %>
</dl>
	

<% if user_signed_in? && current_user.admin? %>
<%= link_to('Editar', edit_auction_lot_path)%>
<%= button_to 'Remover', auction_lot_path, method: :delete %>
<% end %>


<%= link_to('Voltar', root_path)%>