<h1> Produtos: </h1>


  <% if admin_signed_in? %>
    <%= link_to 'Cadastrar Novo', new_product_model_path %> 
    <% if ProductModel.exists?  %>
      | <%= link_to 'Adicionar Item', new_product_path %>
    <% end %>
  <% end %>
 
<% if @product_models.any? %>

  <% @product_models.each do |pm| %>
    <div>
      <h2><%= link_to pm.name, product_model_path(pm) %></h2>
        <dl>
          <dt>Código:</dt>
          <dd><%= pm.code %></dd>
          <dt>Descrição:</dt>
          <dd><%=  pm.description %></dd>
          <dt>Categoria:</dt>
          <dd><%= pm.category.name %></dd>
          <% if user_signed_in? && current_user.admin? %>
          <dt>Quantidade de produtos disponíveis:</dt>
          <dd><%= pm.products_count_in_lots %></dd>
          <% end %>
        </dl>
    </div>
  <% end %>
  
<% else %>
  <p> Nenhum produto cadastrado. </p>
<% end %>
