<h1> Produtos: </h1>


  <% if user_signed_in? && current_user.admin? %>
    <%= link_to 'Cadastrar Novo', new_product_model_path %>
  <% end %>
 
<% if @product_models.any? %>

  <% @product_models.each do |pm| %>
    <div>
      <h2><%= link_to pm.name, product_model_path(pm) %></h2>
        <dl>
          <dt>Código:</dt>
          <dd><%= pm.code %></dd>
          <dt>Descrição:</dt>
          <dd><%=  pm.description %></dd>
          <dt>Categoria:</dt>
          <dd><%= pm.category.name %></dd>
          <dt>Quantidade de produtos disponíveis:</dt>
          <dd><%= ItemProduct.where(product_model_id: pm.id).count %></dd>
        </dl>
    </div>
  <% end %>

<% else %>
  <p> Nenhum produto cadastrado. </p>
<% end %>
