<h2>Lances para o Lote <%= @auction_lot.code %></h2>

<table class="my-table">
  <thead>
    <tr>
      <th>Usuário</th>
      <th>Valor do Lance</th>
      <th>Data do Lance</th>
    </tr>
  </thead>
  <tbody>
    <% @bids.each do |bid| %>
      <tr>
        <td><%= bid.user.name %></td>
        <td><%= bid.amount %></td>
        <td><%= I18n.localize(bid.created_at, format: :time_bid) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Voltar', auction_lot_path(@auction_lot) %>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


