<h2>Lances para o Lote <%= @auction_lot.code %></h2>

<table class="my-table">
  <thead>
    <tr>
      <th>Usuário</th>
      <th>Valor do Lance</th>
      <th>Data do Lance</th>
    </tr>
  </thead>
  <tbody>
    <% @bids.each do |bid| %>
      <tr>
        <td><%= bid.user.name %></td>
        <td><%= bid.amount %></td>
        <td><%= I18n.localize(bid.created_at, format: :time_bid) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Voltar', auction_lot_path(@auction_lot) %>


