<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>CPF</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.cpf %></td>
        <td>
          <div class="action-buttons">
            <% unless user.blocked? %>
              <%= button_to 'Bloquear', block_user_path(user), method: :patch, class: 'btn btn-danger' %>
            <% else %>
              <%= button_to 'Desbloquear', unblock_user_path(user), method: :patch, class: 'btn btn-success' %>
            <% end %>
            <% unless user.suspended? %>
              <%= button_to 'Suspender', suspend_user_path(user), method: :patch, class: 'btn btn-danger' %>
            <% else %>
              <%= button_to 'Liberar', unblock_user_path(user), method: :patch, class: 'btn btn-success' %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



