<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>CPF</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.cpf %></td>
        <td>
          <div class="action-buttons">
            <% unless user.blocked? %>
              <%= button_to 'Bloquear Usuário', block_user_path(user), method: :patch, class: 'btn btn-danger btn-bid', id: dom_id(user, 'block') %>
            <% else %>
              <%= button_to 'Desbloquear Usuário', unblock_user_path(user), method: :patch, class: 'btn btn-success btn-bid', id: dom_id(user, 'unblock') %>
            <% end %>
            <% blocked_cpf = BlockedCpf.find_by(cpf: user.cpf) %>
            <% unless user.cpf_blocked? %>
              <%= button_to 'Bloquear CPF', block_cpf_user_path(user), method: :post, class: 'btn btn-warning btn-bid', id: dom_id(user, 'block_cpf') %>
            <% else %>
              <%= button_to 'Liberar', blocked_cpf_path(blocked_cpf), method: :delete, class: 'btn btn-success btn-bid', id: dom_id(user, 'unblock_cpf') %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="mt-5">
  <h2>Bloquear um CPF</h2>
  <%= form_with(model: BlockedCpf.new, url: blocked_cpfs_path, method: :post) do |form| %>
    <%= form.label :cpf, 'Digite o CPF a ser bloqueado' %>
    <%= form.text_field :cpf %>
    <%= form.submit 'Bloquear CPF', class: 'btn btn-warning btn-resp' %>
  <% end %>
</div>

<%= link_to 'Voltar', root_path, class: 'btn btn-warning btn-bid' %>
