<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <%= link_to root_path, class: "navbar-brand text-white" do %>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse" aria-controls="nvbCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="nvbCollapse">
        <ul class="navbar-nav">
          <% if admin_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Categorias', categories_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Lotes Expirados', expired_auction_lots_path, class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to 'Produtos', product_models_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Usuários Cadastrados', users_path, class: "nav-link" %>
          </li>
          <% if user_signed_in? && !current_user.admin? %>
              <li class="nav-item">
                <%= link_to 'Lotes Vencedores', winner_auction_lots_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Favoritos', favorites_auction_lots_path, class: "nav-link" %>
              </li>
            <% end %>
        </ul>
      </div>
      <% if user_signed_in? %>
        <div class="navbar-text ml-auto txt-nav">
          <% if current_user.admin? %>
            <%= current_user.admin_desc %>
          <% else %>
            <%= current_user.description %>
          <% end %>
        </div>
        <ul class="nav-description">
          <%= button_to 'Sair', destroy_user_session_path, method: :delete, class: 'nav-link btn btn-danger btn-custom' %>
        </ul>
      <% else %>
        <li class="nav-item pl-1 ml-auto">
          <%= link_to 'Entrar', new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </div>
  </nav>
</header>

