<div class="d-flex justify-content-between align-items-center">
  <div>
  <% if admin_signed_in? %>
      <div class="mb-3">
        <%= link_to 'Cadastrar Lotes', new_auction_lot_path, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <%= form_with(url: search_auction_lots_path, method: :get, class: 'ml-auto') do |form| %>
    <div class="form-group">
      <%= form.text_field :search, class: 'form-control', placeholder: "Buscar por lotes e produtos:" %>
    </div>
    <%= form.submit 'Buscar', class: "btn btn-primary btn-bus" %>
  <% end %>
</div>

<h2 class="mb-3"> Lotes em andamento: </h2>
<div class="row">
  <% @ongoing_auction_lots.each do |auction| %>
    <div class="col-lg-4 mb-4">
      <div class="card rounded">
        <div class="card-body">
          <h3 class="card-title">Lote: <%= link_to(auction.code, auction_lot_path(auction.id)) %></h3>
          <dl>
            <dt><%= AuctionLot.human_attribute_name(:status) %></dt>
            <dd><%= I18n.translate(auction.status) %></dd>
          </dl>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if @ongoing_auction_lots.empty? %>
  <p>Não existem lotes em andamento</p>
<% end %>

<h2 class="mb-3"> Lotes futuros: </h2>
<div class="row">
  <% @future_auction_lots.each do |auction| %>
    <div class="col-lg-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Lote: <%= link_to(auction.code, auction_lot_path(auction.id)) %></h3>
          <dl>
            <dt><%= AuctionLot.human_attribute_name(:status) %></dt>
            <dd><%= I18n.translate(auction.status) %></dd>
            <dt>Inicia em:</dt>
            <dd><%= distance_of_time_in_words(Date.today, auction.start_date) %></dd>
          </dl>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if @future_auction_lots.empty? %>
  <p>Não existem lotes futuros</p>
<% end %>

