<h2> NOVO ITEM DISPONÍVEL </h2>

<%= form_with(model: [@auction_lot, @auction_item]) do |f| %>
<div>
			<%= f.label :product_model_id, 'Produto' %>
			<%= f.collection_select :product_model_id, @products, :id, :name %>
		</div>
    <div>
			<%= f.label :quantity, 'Quantidade' %>
			<%= f.number_field :quantity %>
		</div>

<%= f.submit 'Gravar' %>

<% end %>