<h1> Nova Categoria: </h1>

<% if(@category.errors.any?) %>

		<p> Verifique os erros abaixo: </p>
		<ul>
			<% @category.errors.full_messages.each do |msg| %>
				<li><%= msg %> </li>
			<% end %>
		</ul>
	<% end %>

<%= form_with(model: @category) do |f| %>

    <div>
			<%= f.label :name %>
      <%= f.text_field :name %>
		</div> <br>
	<div>
	<%= f.submit 'Criar', class: 'btn btn-success' %>
	</div>
	<div>
	<%= link_to 'Voltar', root_path, class: 'btn btn-warning btn-bus' %>
	</div>

<% end %>