<!DOCTYPE html>
<html>
  <head>
    <title>AuctionHouse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <header>
      <%= link_to root_path do %>
        <h1> Leilão de Estoque </h1>
      <% end %>
    <nav>
      <% if user_signed_in? && current_user.admin? %>
        <%= link_to 'Nova Categoria', new_category_path %>
      <% end %>

        <%= link_to 'Produtos', product_models_path %>
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <%= current_user.admin_desc %>
          <% else %>
            <%= current_user.description %>
          <% end %>
        <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
      <% else %>
        
        <%= link_to 'Entrar', new_user_session_path %>
      <% end %>
    </nav>
    </header>
    <main>
      <div>
        <%= notice %>
        <%= alert %>
      </div><br>
      <%= yield %>
    </main>
  </body>
</html>