<!DOCTYPE html>
<html>
  <head>
    <title>AuctionHouse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header class="header-container">
        <h1 class="centered-text">Leilão de Estoque</h1>
        <%= link_to root_path do %>
          <div id="myImage"></div>
        <% end %>
      <%= render 'shared/nav' %>
    </header>
    <main class="container custom-container">
      <div>
        <div class="notice"><%= notice %></div>
        <div class="alert"><%= alert %></div>
      </div><br>
      <%= yield %>
    </main>

  </body>
  <%= render 'shared/footer' %>
</html>

